body {
    background-color: rgb(190, 210, 230);
}

.content {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.container {
    margin: 10px auto;
    max-width: 900px;
    text-align: center;
    border: thin solid black;
    background-color: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #0892d0;
    margin-bottom: 10px;
    border: thin solid black;
}

.navbar-home {
    font-size: 3em;
    padding: 10px;
    color: black;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-link {
    font-size: 3em;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    color: black;
}

.img-link img {
    display: block;
    margin: 10px;
    width: 50px;
}

.peakd-link img {
    display: block;
    margin: 10px;
    width: 150px;
}

a {
    transition: color 1s;
    color: black;
    text-decoration: none;
}

.container a{
    color: #0892d0;
}

a:hover, a:focus {
    color: #ffe62d;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0892d0;
    border: thin solid black;
}

.footer-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-text {
    text-align: center;
    font-size: 1.5em;
}

pre code {
    display: block;
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border: thin solid black;
    background-color: rgb(240, 240, 240);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    max-width: 800px;
    text-align: center;
}

.tag {
    font-size: 2em;
    margin-left: 25px;
    margin-top: 25px;
}

h1 {
    margin: 30px 0;
    font-size: 3em;
    line-height: 1;
    letter-spacing: -1px;
}

h2 {
    margin: 20px 0;
    font-size: 2em;
    line-height: 1;
    letter-spacing: -1px;
}

h3 {
    margin: 15px 0;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: -1px;
}

h4 {
    margin: 10px 0;
    font-size: 1em;
    line-height: 1;
    letter-spacing: -1px;
}

img {
    max-width: 400px;
}

p {
    font-family: sans-serif;
}