.container {
    margin: 10px auto;
    max-width: 900px;
    text-align: center;
    border: thin solid black;
    background-color: white;
}

h1 {
    margin: 30px 0;
    font-size: 3em;
    line-height: 1;
    letter-spacing: -1px;
}

.tags {
    display : flex;
    flex-wrap: wrap;
    margin: 25px auto;
    max-width: 800px;
    text-align: center;
}
